---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
  
  <header>
    <h1 class="post-title">{{ post.title }}</h1>
  </header>
  <div class="content">
    {% include post-meta.html post=post %}
  
    <div class="post-body">
      {{ content }}
      {% include post-tags.html post=post %}
    </div>
  
    {% include comments.html %}
    {% include related_posts.html %}
  </div>
  
  {% endfor %}
</ul>
